<a href="https://colab.research.google.com/github/aditya8075/100-Days-Of-SQL/blob/main/SQL_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. From the following dataframes, write a SQL query to find those salespersons whose commission is less than ten thousand. Return salesperson name, commission.

**Create Dataframe 1:salemast**

![image.png]()


**Create Dataframe 2:commision**

![image.png]()

**Expected Output:**

![image.png]()

In [28]:
# Install SQlite & Pandasql
!pip install db-sqlite3
!pip install pandasql

# Importing Libraries
import pandas as pd
import sqlite3
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())


# Connection to DataBase
conn = sqlite3.connect('test8_database') 
c = conn.cursor()

# Create table
c.execute('''DROP TABLE IF EXISTS salemast;''')

c.execute('''CREATE TABLE salemast (
[salesman_id] INTEGER,
[salesman_name] VARCHAR,
[yearly_sale]  INTEGER);''')


          
# Insert data into table          
c.execute('''INSERT INTO salemast VALUES (101, 'Adam', 250000);''')
c.execute('''INSERT INTO salemast VALUES (103, 'Mark', 100000);''')
c.execute('''INSERT INTO salemast VALUES (104, 'Liam', 200000);''')
c.execute('''INSERT INTO salemast VALUES (102, 'Evan', 150000);''')
c.execute('''INSERT INTO salemast VALUES (105, 'Blake', 275000);''')
c.execute('''INSERT INTO salemast VALUES (106, 'Noah', 50000);''')


# Create table
c.execute('''DROP TABLE IF EXISTS commision;''')

c.execute('''CREATE TABLE commision (
[salesman_id] INTEGER,
[commision_amt]  INTEGER);''')


          
# Insert data into table          
c.execute('''INSERT INTO commision VALUES (101, 10000);''')
c.execute('''INSERT INTO commision VALUES (103, 4000);''')
c.execute('''INSERT INTO commision VALUES (104, 8000);''')
c.execute('''INSERT INTO commision VALUES (102, 6000);''')
c.execute('''INSERT INTO commision VALUES (105, 11000);''')




conn.commit()

# Get DataFrame
conn = sqlite3.connect('test8_database') 
salemast = pd.read_sql_query ('''SELECT * FROM salemast''',conn)
commision = pd.read_sql_query ('''SELECT * FROM commision''',conn)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.7/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.7/dist-packages (from db->db-sqlite3) (1.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)

In [29]:
mysql('''select * from salemast''')

   salesman_id salesman_name  yearly_sale
0          101          Adam       250000
1          103          Mark       100000
2          104          Liam       200000
3          102          Evan       150000
4          105         Blake       275000
5          106          Noah        50000

In [30]:
mysql('''SELECT * FROM commision''')

   salesman_id  commision_amt
0          101          10000
1          103           4000
2          104           8000
3          102           6000
4          105          11000

In [31]:
mysql('''select a.salesman_name , b.commision_amt from salemast as a join commision as b using(salesman_id) where commision_amt < 10000''')

  salesman_name  commision_amt
0          Mark           4000
1          Liam           8000
2          Evan           6000

In [32]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

## 2. From the table write a SQL query to find for each month and company, the number of orders issued and their total quantity, the number of orders booked and their total order quantity. Return month, name of the company, number of orders issued, number of booked orders, total order quantity and total booked orders quantity.

**Table Name: order_stat**

**Expected Output:** 

![image.png]()

In [33]:
mysql('''select * from order_stat''')

   order_id     com_name  ord_qty   ord_stat   stat_date
0       151      MMS INC      500     Booked  2020-08-15
1       152      BCT LTD      300  Cancelled  2020-08-15
2       153      MMS INC      400  Cancelled  2020-08-26
3       154      XYZ COR      500     Booked  2020-08-15
4       155      MMS INC      500  Cancelled  2020-10-11
5       156  BWD PRO LTD      250  Cancelled  2020-11-15
6       157      BCT LTD      600     Booked  2020-10-07
7       158      MMS INC      300     Booked  2020-12-11
8       159      XYZ COR      300     Booked  2020-08-26
9       160      BCT LTD      400     Booked  2020-11-15

In [34]:
query='''
select date_format(stat_date,'%%y-%%m') as month_year,com_name,count(com_name) as no_of_orders,
sum(case when ord_stat ='Booked' then 1 else 0 end ) as booked_orders,
sum(ord_qty) as total_order_qty,
sum(case when ord_stat='Booked' then ord_qty  else 0 end ) as no_of_booked_qty
from order_stat 
group by month_year,com_name
'''

In [35]:
mysql(query)

,month_year,com_name,no_of_orders,booked_orders,total_order_qty,no_of_booked_qty
0,20-08,MMS INC,2,1.0,900.0,500.0
1,20-08,BCT LTD,1,0.0,300.0,0.0
2,20-08,XYZ COR,2,2.0,800.0,800.0
3,20-10,MMS INC,1,0.0,500.0,0.0
4,20-11,BWD PRO LTD,1,0.0,250.0,0.0
5,20-10,BCT LTD,1,1.0,600.0,600.0
6,20-12,MMS INC,1,1.0,300.0,300.0
7,20-11,BCT LTD,1,1.0,400.0,400.0

## 3. From the tables write a SQL query to find those students appeared exams in various subjects in every year. Return examination ID, subject name, examination year, number of students.

**Table Name1: exam_test**

**Table Name2: subject_test**

**Expected Output:**

![image.png]()

In [36]:
mysql('''select * from exam_test''')

   exam_id  subject_id  exam_year  no_of_student
0       71         201       2017           5146
1       71         201       2018           3545
2       71         202       2018           5945
3       71         202       2019           2500
4       71         203       2017           2500
5       72         201       2018           3500
6       72         202       2017           3651
7       73         201       2018           2647
8       73         201       2019           2647
9       73         202       2018           4501

In [37]:
mysql('''select * from subject_test''')

   subject_id subject_name
0         201  Mathematics
1         202      Physics
2         203    Chemistry

In [38]:
mysql('''select a.exam_id,b.subject_name,a.exam_year,a.no_of_student from exam_test as a join subject_test as b using(
subject_id) order by a.exam_id ''' )

   exam_id subject_name  exam_year  no_of_student
0       71  Mathematics       2017           5146
1       71  Mathematics       2018           3545
2       71      Physics       2018           5945
3       71      Physics       2019           2500
4       71    Chemistry       2017           2500
5       72  Mathematics       2018           3500
6       72      Physics       2017           3651
7       73  Mathematics       2018           2647
8       73  Mathematics       2019           2647
9       73      Physics       2018           4501

In [39]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

## 1. From the tables write a SQL query to compute total number of students who appeared for the first year of each examination of every subject. Return examination ID, subject name, first year, number of students.

**Table Name1: exam_test**

**Table Name2: subject_test**

**Expected Output:** 


![image.png]()

In [40]:
mysql('''select * from exam_test''')

   exam_id  subject_id  exam_year  no_of_student
0       71         201       2017           5146
1       71         201       2018           3545
2       71         202       2018           5945
3       71         202       2019           2500
4       71         203       2017           2500
5       72         201       2018           3500
6       72         202       2017           3651
7       73         201       2018           2647
8       73         201       2019           2647
9       73         202       2018           4501

In [41]:
mysql('''select * from subject_test''')

   subject_id subject_name
0         201  Mathematics
1         202      Physics
2         203    Chemistry

In [53]:
mysql('''select subject_id,min(exam_year) as min_year from exam_test group by subject_id''')

   subject_id  min_year
0         201      2017
1         202      2017
2         203      2017

In [57]:
query='''
select a.exam_id , b.subject_name,a.exam_year as first_year ,a.no_of_student 
from exam_test as a join subject_test as b on a.subject_id=b.subject_id join (select subject_id,min(exam_year) as min_year from exam_test group by subject_id) as c
on a.subject_id=c.subject_id and a.exam_year=c.min_year'''

In [58]:
mysql(query)

   exam_id subject_name  first_year  no_of_student
0       71  Mathematics        2017           5146
1       71    Chemistry        2017           2500
2       72      Physics        2017           3651